@import "src/theme/functions/resizer";

.wrapper {
  width: 100%;
  min-height: 1vh;
  background: var(--bg-body-color);
  padding: sizeWidth(12);
  border-radius: sizeHeight(2);

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: sizeHeight(9);
    margin-left: sizeWidth(19);

    .counter {
      color: var(--index-blue1-color);
      font-size: sizeHeight(18);
      font-weight: 700;
      text-align: end;
      margin-left: auto;
    }

    .date {
      display: flex;
      padding: sizeHeight(5) sizeWidth(10);
      font-size: sizeHeight(14);
      border-radius: sizeHeight(2);
      background: var(--index-blue1-color);
      color: var(--text-alwaysWhite-color);
    }
  }

  .textarea {
    border-left: solid sizeWidth(2);
    color: var(--text-contrast-color);
    font-size: sizeHeight(16);
    font-weight: 700;
    padding: sizeHeight(5) sizeWidth(18);
    line-height: sizeHeight(21);
    margin-bottom: sizeHeight(15);

    &__last {
      margin-bottom: 0;
    }

    &__default {
      border-color: var(--text-main-color);
    }

    &__restriction {
      border-color: var(--index-error-color);
    }

    &__potential {
      border-color: var(--index-blue1-color);
    }
  }
}
