@import "src/theme/functions/resizer";

svg {
  position: absolute;
}

.container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  .diagram {
    height: 80vw;
    width: 80vw;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    &__values {
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      position: absolute;

      .prop {
        display: flex;
        flex-direction: column;

        .description {
          font-size: sizeHeight(12);
          color: var(--chart-axes-color);

          text-align: center;
        }

        .value {
          margin-top: sizeHeight(3);

          font-size: sizeHeight(12);
          font-weight: 700;

          color: var(--text-contrast-color);
          text-align: center;
        }

        &-top {
          margin-bottom: sizeHeight(10);
        }

        &-bottom {
          margin-top: sizeHeight(10);
        }
      }

      .line {
        width: sizeWidth(1);
        flex: 1;

        background: var(--chart-segment-color);
      }
    }

    ::ng-deep {
      .diagram__circle {
        position: absolute;
        stroke: var(--chart-axes-color);
        fill: var(--gray-G12-color);
      }

      .diagram__blue {
        stroke: var(--index-blue1-color);
        stroke-width: sizeHeight(1);
        fill: transparent;

        transform: rotate(-90deg);
        transform-origin: center center;
      }

      .diagram__path {
        stroke-width: sizeHeight(1.5);
        fill: transparent;

        &_blue {
          stroke: var(--index-blue1-color);
        }

        &_white {
          stroke: var(--text-contrast-color);
        }

        &_green {
          stroke: var(--index-green1-color);
        }
      }

      .dot {
        fill: var(--index-blue1-color);
      }
    }
  }
}
