<div class="container">
  <div class="diagram" #diagram>
    <div class="diagram__values">
      <div class="prop prop-top">
        <span class="description">Топология</span>
        <span class="value">1</span>
      </div>
      <div class="line"></div>
      <div class="prop prop-bottom">
        <span class="description">Поизводи-ть</span>
        <span class="value">12</span>
      </div>
    </div>
    <div class="diagram__values" [ngStyle]="{transform: 'rotate(45deg)'}">
      <div class="prop prop-top">
        <span class="description">Качество сырья</span>
        <span class="value">0</span>
      </div>
      <div class="line"></div>
      <div class="prop prop-bottom">
        <span class="description">Сокращение затрат</span>
        <span class="value">0</span>
      </div>
    </div>
    <div class="diagram__values" [ngStyle]="{transform: 'rotate(-90deg)'}">
      <div class="prop prop-top">
        <span class="description">Энергетика</span>
        <span class="value">133</span>
      </div>
      <div class="line"></div>
      <div class="prop prop-bottom">
        <span class="description">Качество продукта</span>
        <span class="value">0</span>
      </div>
    </div>
    <div class="diagram__values" [ngStyle]="{transform: 'rotate(-45deg)'}">
      <div class="prop prop-top">
        <span class="description">ЭГ</span>
        <span class="value">0</span>
      </div>
      <div class="line"></div>
      <div class="prop prop-bottom">
        <span class="description">Отборы</span>
        <span class="value">0</span>
      </div>
    </div>
  </div>
</div>
