@import "src/theme/functions/resizer";

.wrapper {
  display: flex;
  background: var(--bg-body-color);
  width: sizeWidth(180);
  height: sizeHeight(80);
  padding: 0 sizeWidth(14);
  align-items: center;
  justify-content: center;
  font-size: sizeHeight(16);
  color: var(--text-subscript-color);
  transition: .2s;
  box-sizing: border-box;

  &__mini {
    width: sizeWidth(131);
    height: sizeHeight(40);
    font-size: sizeHeight(14);
  }

  &__selected {
    background: var(--index-blue1-color);
    color: var(--text-alwaysWhite-color);
    font-weight: bold;
    border-radius: sizeHeight(2);
    transition: .3s;
  }
}
