<div class="wrapper">
  <h1 class="tabs-title tabs-title_default">Идеи</h1>
  <app-tabs-text-block type="default">Приложение предоставит доступ к карте потенциала ОНПЗ, на которой Вы сможете ознакомиться с показателями определенной установки и перейти к подробнйо информации</app-tabs-text-block>
  <app-tabs-text-block type="default">Оборудование арматуры и корпусов насосов быстросъемной теплоизоляцией</app-tabs-text-block>
  <app-tabs-text-block type="default">Приложение позволит Вам самостоятельно получить доступ к информации с мобильного устройства, изучить мероприятия по повышению производительности установок, производственные ограничения и получить доступ к банку идей</app-tabs-text-block>
</div>
