<div class="wrapper">
  <div class="header">
    <app-tabs-switcher [formControl]="control">
      <app-tabs-switcher-option *ngFor="let indic of indicators"
                                [value]="indic.id"
      >{{indic.name}}</app-tabs-switcher-option>
    </app-tabs-switcher>
  </div>
  <div class="content">
    <ng-container *ngIf="isLoad$ | async; else loader">
      <h1 class="tabs-title tabs-title_default">Мероприятия</h1>
      <app-tabs-text-block *ngFor="let card of cards$ | async" [data]="card"></app-tabs-text-block>
      <div class="empty" *ngIf="isEmpty$ | async">{{emptyText}}</div>
    </ng-container>
  </div>
</div>

<ng-template #loader>
  <ion-spinner name="dots"></ion-spinner>
</ng-template>
