<div class="wrapper">
  <div class="header">
    <app-tabs-switcher [formControl]="control">
      <app-tabs-switcher-option [value]="1">Эксплуатационная готовность</app-tabs-switcher-option>
      <app-tabs-switcher-option [value]="2">Производительность</app-tabs-switcher-option>
      <app-tabs-switcher-option [value]="3">Энергоэффективность</app-tabs-switcher-option>
    </app-tabs-switcher>
  </div>
  <div class="content">
    <h1 class="tabs-title tabs-title_activity">Мероприятия</h1>
    <app-tabs-text-block type="activity">Оборудование арматуры и корпусов насосов быстросъемной теплоизоляцией</app-tabs-text-block>
    <app-tabs-text-block type="activity">Регулировка температурного профиля стабилизационной колонны K1 (21 млн руб.)</app-tabs-text-block>
  </div>
</div>
