@import "src/theme/functions/resizer";

.wrapper {
  display: flex;
  flex-flow: column;
  overflow: auto;
  height: 100%;
  width: 100%;

  .header {
    position: absolute;
    overflow: auto;
    height: sizeHeight(80);
    width: 100%;

    app-tabs-switcher {
      --margin-side: #{sizeWidth(16)};
    }
  }

  .content {
    background: var(--bg-dashboard-color);
    margin-top: sizeHeight(80);
    display: flex;
    flex-flow: column;
    padding: 0 sizeWidth(16);
    z-index: 2;
    height: 100%;

    .legend {
      margin: sizeHeight(22) 0;

      .title {
        font-size: sizeHeight(14);
        font-weight: bold;
        margin-right: sizeWidth(22);

        &__restriction {
          color: var(--index-error-color);
        }

        &__potential {
          color: var(--index-blue1-color);
        }
      }
    }

    app-tabs-text-block {
      margin-bottom: sizeHeight(8);
    }

    .empty {
      color: var(--data-c11-color);
      font-size: sizeHeight(16);
    }
  }
}

ion-spinner {
  margin: auto;
  transform: scale(1.5);
  --color: var(--gray-G4-color);
}
